/* COLORS */
body {
  font-family: 'Rubik', sans-serif;
}

.heading {
  font-family: 'Old Standard TT', serif;
}

.primary-color {
  background-color: #559944;
  border: none;
}

.primary-color:hover {
  background-color: #668855;
  border: none;
}

.primary-color:focus {
  box-shadow: none;
}

.color-dark {
  background-color: #4d1240;
}

body {
  font-family: 'Rubik', sans-serif;
}

#mainCarousel {
  margin-top: 90px;
  height: calc(100vh - 90px);
}

.carousel-item img {
  width: 100%;
  height: calc(100vh - 90px);
  object-fit: cover;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
